{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur - Barciche back-office{% endblock %}

{% block body %}

    <div class="container mt-3 mb-3">
        <h1>Créer un nouvel utilisateur</h1>

        {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            <button class="mt-2 btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
        {{ form_end(form) }}

        <a class="mt-2 btn btn-warning" href="{{ path("app_back_users_list") }}">Retour</a>
    </div>
{% endblock %}